.encabezado {
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  font-size: 30px;
}

.navbar {
  $navbar-padding-y:                  $spacer * .5;
$navbar-padding-x:                  null;

$navbar-nav-link-padding-x:         .5rem;

$navbar-brand-font-size:            $font-size-lg;
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) * .5;
$navbar-brand-margin-end:           1rem;

$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      $btn-border-radius;
$navbar-toggler-focus-width:        $btn-focus-width;
$navbar-toggler-transition:         box-shadow .15s ease-in-out;

$navbar-light-color:                rgba(var--#020024emphasis-color-rgb, .65);
$navbar-light-hover-color:          rgba(var--#020024emphasis-color-rgb, .8);
$navbar-light-active-color:         rgba(var--#020024emphasis-color-rgb, 1);
$navbar-light-disabled-color:       rgba(var(--#020024emphasis-color-rgb), .3);
$navbar-light-icon-color:           rgba($body-color, .75);
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba(var(--#020024emphasis-color-rgb), .15);
$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;
}
.navbar-light .navbar-nav > li > a:hover {
  color: rgba(var(--020024emphasis-color-rgb), 0.8);
}
.logo {
  width: 100px;
}

body {
  background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer main {
  display: flexbox;
  font-style: oblique;
  list-style-position: outside;
  text-align: justify;
  font-size: x-large;
  margin: 1%;
}

footer {
  box-sizing: border-box;
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.titulo {
  position: relative;
  padding: 40px;
  margin: 20px;
  font-family: "montserrat", serif;
  font-family: "lobster", cursive;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  font-size: 120px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(letra.jpeg);
  background-attachment: fixed;
}
.subtitulos {
  font-size: 80px;
  position: relative;
  padding: 40px;
  margin: 20px;
  font-family: "montserrat", serif;
  font-family: "lobster", cursive;
  font-weight: bolder;
  text-align: start;
  align-items:start
}
.texto {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  list-style: none;
  font-size: 30px;
}

#casas {
  width: 100%;
  display: flex;
}

.pie {
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  text-align: end;
  align-items: end;
  margin-right: 10%;
  font-size: medium;
}

.pie ul {
  font-size: small;
  list-style: none;
  align-items: end;
}

@media (max-width: 480px) {
  .encabezado {
    font-size: 100%;
  }
  .logo {
    width: 60px;
  }
  .titulo {
    font-size: 200%;
  }
  .subtitulos {
    font-size: 100%
  }
  .texto {
    font-weight: bolder;
    font-size: 100%;
  }
  #casas {
    align-items: center;
    text-align: center;
    width: 100%
  }
}


.TituloCosas {
  font-weight: bolder;
}
.Planner {
  margin-top: 10px;
  align-items: start;
  text-align: start;
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  list-style: none;
}
.SketchUpFree {
  margin-top: 10px;
  align-items: start;
  text-align: start;
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  list-style: none;
}
.HomeByMe {
  margin-top: 10px;
  align-items: start;
  text-align: start;
  font-family: Monaco, Haettenschweiler, "Arial Narrow Bold", serif;
  list-style: none;
}
.Paginas  {
  border-radius: 3%;
  box-shadow: 0 10px 10px 0;
  margin-left: 25%;
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
